<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webdev\Helloworld\Api\DataRepositoryInterface" type="Webdev\Helloworld\Model\DataRepository" />
    <preference for="Webdev\Helloworld\Api\Data\DataInterface" type="Webdev\Helloworld\Model\Data" />
    <preference for="Magento\Catalog\Model\Product" type="Webdev\Helloworld\Model\Product" />
</config>