<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Webdev\Helloworld\Api\DataRepositoryInterface" type="Webdev\Helloworld\Model\DataRepository" />
    <preference for="Webdev\Helloworld\Api\Data\DataInterface" type="Webdev\Helloworld\Model\Data" />
    <preference for="Magento\Catalog\Model\Product" type="Webdev\Helloworld\Model\Product" /> -->
    <!-- <type name="Magento\Quote\Model\Quote">
        <plugin name="before_plugin_addproduct" type="Webdev\Helloworld\Plugin\Product" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="after_plugin_getname" type="Webdev\Helloworld\Plugin\Product" sortOrder="1" disabled="false" />
    </type>
    <type name="Magento\Quote\Model\Quote">
        <plugin name="around_plugin_addproduct" type="Webdev\Helloworld\Plugin\Product" sortOrder="1" disabled="false" />
    </type> -->
</config>